.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/uploads/*.doc
/uploads/*.docx
/uploads/minicursos/*.doc
/uploads/minicursos/*.docx
/uploads/trabalhos/*.doc
/uploads/trabalhos/*.docx
/uploads/trabalhos/correcoes/*.doc
/uploads/trabalhos/correcoes/*.docx
/static/captcha/*
dados/cursos_sup/*
/certificados/minicursos/*.pdf
/certificados/trabalhos/*.pdf
/certificados/participacao/*.pdf
/certificados/matriculados/*.pdf
/certificados/palestrante/*.pdf
/certificados/mesa_redonda/*.pdf
/certificados/avaliador/*.pdf
/certificados/*.pdf
/uploads/*.pdf
/uploads/minicursos/*.pdf
/uploads/trabalhos/*.pdf
/uploads/trabalhos/correcoes/*.pdf
/static/fotos/*.png
/static/fotos/*.jpg
/static/fotos/*.jpeg
*geckodriver.log
*.pyc